html {
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Rock Salt', cursive;*/
	/*font-family: 'Special Elite', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
}

.container {
	margin 0;
}

html body {
	background-color: whitesmoke;
}

#main-container {
	display: none;
	/*visibility: hidden;*/
	background-color: black;
	/*padding: 30px;*/
	color: white;
	/*height: 100%;*/
}

.heading-container {
	width: 100%;
	max-height: 10%;
	background-color: whitesmoke;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
	font-size: 30px;
}

.heading-container > h2 {
	text-align: center;
	width: 100%;
	font-family: 'Average', serif;
	margin-bottom: 0;
}

.heading-link {
	text-decoration: none;
	color: black;
}

.container-links {
	text-align: center;
	margin-bottom: 5%;
}

.container-links span {
	margin-left: 0.5%;
	margin-right: 0.5%;
	font-size: 17px;
}

.flex-container {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.flex {
	height: 200px;
	width: auto;
	flex: 1;
	color: white;
	border-top: solid whitesmoke 8px;
	border-bottom: solid whitesmoke 8px;
}

.flex-inner-title {
	margin: 7%;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	font-size: 40px;
}

.flex-inner-title > h3 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.flex-inner-body {
	font-family: 'Average', serif;
	color: black;
	visibility: hidden;
	font-size: 25px;
	opacity: 0;
}

.flex1.flex-active .flex-inner-body {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 2.5%;
	border-radius: 2px;
	background-color: whitesmoke;
	align-items: center;
	visibility: visible;
	opacity: 1;
	transition: opacity 1.5s;
	transition-delay: 0.8s;
}

.flex1 {
	background-image: url('https://images.unsplash.com/photo-1437419764061-2473afe69fc2?dpr=2&auto=format&fit=crop&w=767&h=431&q=80&cs=tinysrgb&crop=');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: 1.3s;
	transition-timing-function: cubic-bezier(0.49, -0.11, 0.29, 1.24);
}

.flex1.flex-active .flex-inner-body {
	width: 50%;
	background-color: whitesmoke;
	align-items: center;
	visibility: visible;
	opacity: 1;
	transition: opacity 1.5s;
	transition-delay: 0.8s;
}

.flex-active.flex1 {
	height: 750px;
}

.flex2 {
	background-image: url('https://images.unsplash.com/photo-1479669732031-affb2ce2d265?dpr=2&auto=format&fit=crop&w=767&h=431&q=80&cs=tinysrgb&crop=');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
	transition: 1.3s;
	transition-timing-function: cubic-bezier(0.49, -0.11, 0.29, 1.24);
}

.flex-active.flex2 {
	height: 1100px;
}

.flex3 {
	background-image: url('https://images.unsplash.com/photo-1472566316349-bce77aa2a778?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
	transition: 1.3s;
	transition-timing-function: cubic-bezier(0.49, -0.11, 0.29, 1.24);
}

.flex4 {
	background-image: url('https://images.unsplash.com/photo-1460324558840-8df3143cd908?dpr=2&auto=format&fit=crop&w=1080&h=1620&q=80&cs=tinysrgb&crop=');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
	transition: 1.3s;
	transition-timing-function: cubic-bezier(0.49, -0.11, 0.29, 1.24);
}

.beneath-flex {
	height: 2000px;
	width: 100%;
	background-image: url('https://images.unsplash.com/photo-1483205464475-6204a96e1ef3?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: none;
}

@media screen and (max-width: 700px) {

    body {
        background-color: lightgreen;
    }
    #media {
    	color: orange;
    }

    #nav {
    	font-size: 28px;
    }

}
*/