.container-five {
	height: 900px;
	padding-top: 105px;
	background-image: url('https://images.unsplash.com/photo-1467320424268-f91a16cf7c77?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container-five h1 {
	text-align: center;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 50px;
	width: 45%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

.container-five .resource-flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container-five .resource-flex .flex-item {
	width: 30%;
	height: 300px;
	margin-left: 0.25%;
	margin-right: 0.25%;
	margin-bottom: 0.5%;
	color: white;
	padding: 35px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.8);
}

.container-five .flex-item a {
	font-size: 18px;
}
