.navbar-custom {
	font-size: 20px;
	background-image: none;
	background-color: whitesmoke;
}

.navbar .container {
	margin-left: 0;
}

@media all and (max-width: 770px) {

  .navbar-custom {
    display: none;
  }

}

